:root {
  --themeColor: #6c63ff;
  /* var(--Lufga) */
  --font:"UniNeue";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font), sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  src: url("./Assets/fonts/UniNeue-Trial-Regular.ttf");
  font-family: "UniNeue";
}

@font-face {
  src: url("./Assets/fonts/UniNeue-Trial-Bold.ttf");
  font-family: "UniNeue-bold";
}


.text-blue{
  color: var(--themeColor);
}